@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

 body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #5154fa 16.62%, #530296 85.61%);
    width: 100%;
    display: block;
    justify-content: center;
    min-height: 100vh;
    }

.cabecalho{
    display:inline-flex; 
    align-items: center;
    justify-content: end;
    padding-right: 100px;
    height: 120px;
    }
*
.cabecalho-imagem {
    height: 72px;
    margin-left: 20px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    margin-left: 1400px;
    
}

.cabecalho-menu-item {
    font-family: 'Sarala' , sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 24px;

}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
    padding-left: 20px;
}

header img{
    padding-left: 20px;
    border-radius: 15px;
    width: 130px;
    height: 100px;
   
}


.conteudo-principal-escrito {
    display: block;
    gap: 32px;;
    justify-content: flex-start;
}

.conteudo-principal-escrito-titulo {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;

}
.subtitulo{
    font-size: 30px;
    color: #FFF2E7;
    font-family: 'sarala', sans-serif;
}

.conteudo-principal-escrito-subtitulo {
    justify-content: flex-start;
    font-family: 'Sarala' , sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #ECD6C4;
}
.atençao{
    font-size: 45px;
}

form{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;

}

.formulario-login{
    background-color: white;
    width: 480px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid black;
}

.botao-login{
    background-color: rgb(54, 189, 243);
    width: 100px;
    height: 40px;
    border: black solid 2px;
    border-radius: 10px;
    font-family: 'Sarala' , sans-serif;
    font-weight: 400;
    font-size: 20px;
    gap: 20px;

}



label{
    font-size: 20px;
    font-family: 'sarala';
    color: #FFF2E7;
    border-color: lightblue;
}
aside{
    display:inline-block;
    justify-content: end;
   /* border: solid black 1px; */

}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    width: 300px;
    height: 250px;

}

img{
    width: 300px;
    height: 250px;
    align-items: center;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.img{
    object-fit: cover;
    width: 300px;
    height: 250px;
}